/* ////Main Page//// */

body {
    font-family: Raleway, sans-serif;
}

/* p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: center;
} */

/*TODO - Map this to a tags */
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ////Nav Bar//// */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-image: linear-gradient(rgb(20, 177, 231), rgb(209, 231, 238));
    color: rgb(255,255,255);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    text-align: center;
    padding: 20px;
}

#sidebar h3 {
    font-weight: 700;
}

/*TODO this does not appear to be taking affect */
#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid rgba(255,255,255,0.5); */
}

#sidebar ul li a {
    color: rgb(255,255,255);
    font-weight: 400;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(20, 177, 231);
    background: rgb(255,255,255);
}

/* TODO: determine if this is worth keeping */
/* #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(20,117,231);
    background: rgb(255,255,255);
} */

#sidebar p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: center;
    padding: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 115px;
    transform: translateY(-50%);     
}

#sidebar ul ul li a {
    font-size: 0.9em;
    padding-left: 1.2vw;
    background: rgb(109, 127, 204);
}

/* /// Main Body /// */

#content {
    border: 3px solid red;
}

@media (max-width: 768px) { /* Medium devices and smaller */
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}
